<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome to mini-message-board</h1>
        <form method="POST" action="/new">
            <label for="authorName">Author: </label>
            <input name="authorName" type="text">
            <label for="authorName">Message: </label>
            <input name="messageText" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
